@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

.custom-circle-clippath {
  clip-path: circle(52.6% at 0 49%);
  height: 100vh;
  background: url(./assets/react.svg);
  /* shape-outside: circle(52.6% at 0 49%); */
  /* shape-margin: 20px; */
}

#quarters {
  /* appearance: none; */
  padding: 5px 10px;
  border: none;
  outline: none;
  background: #1b375f;
  color: white;
  border-radius: 0px;
  border-bottom: 2px solid white;
  cursor: pointer;
}
/* #quarters::after {
  content: "*";
} */

#quarters > option {
  cursor: hover;
}
#quarters > option:disabled {
  background: #1b375f4d;
  color: rgba(192, 186, 186, 0.494);
}
select::after {
  margin-right: 20px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f151; /* Color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #8888885b; /* Color of the scrollbar thumb */
  border-radius: 15px; /* Rounded corners for the scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb when hovered */
}

/* Firefox scrollbar styling */
.custom-scrollbar {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #888 #f1f1f1; /* thumb and track color */
}

@media (max-width: 768px) {
  /* #quarters {
    padding: 5px 10px;
    border: none;
    outline: none;
    background: #1b375f;
    color: white;
    border-bottom: 2px solid white;
    border-radius: 0px;
    cursor: pointer;
  } */
  select > option {
    font-size: 0.5rem;
  }
}
